doctype 5
html(lang='es')
  head
    title randomizador de silabas
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css')
  body
    .container
      .level
        h1.title Randomizador de Silabas
      .level
        .columns
          .column
            form(method='POST' action='/')
              .field
                label.label cuantas?
              .control
                input.input(type='number' min='2' max='6' name='num' value=quantity)
                button.button(type='submit') Generar!
          .column
            | #{result}
