doctype 5
html(lang='es')
  head
    title randomizador de silabas
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css')
  body
    .level
    .container
      .level
        h1.title Randomizador de Silabas
      .level.is-fullwidth
        .box.is-fullwidth
          .field
            label.label Ingrese Cantidad de Silabas
            .control
              input.input(type='number' min='2' max='6')
          .field
            button.button Generar!
      .level
